block content
  .container.channels

    .panel.panel-default(ng-repeat="chat_entry in timelines | matchCurrentChannel:current_channel | orderBy:'date_started'") 
      .panel-heading 
        span.pull-left
          img.avatar(ng-src="{{get_user(chat_entry.user, 'avatar')}}")
        b {{get_user(chat_entry.user, 'username')}} 
        small.pull-right(timeago="chat_entry.date_started")
      .panel-body
        p {{chat_entry.datum.text}}

    form.message.navbar.navbar-fixed-bottom.navbar-inverse

      textarea.form-control(ng-model="chat.datum.text",enter-submit="send()",name="message", placeholder="I have something to say to my family...")
          
      //- button.btn.btn-primary.btn-block
      //-   span.glyphicon.glyphicon-send
      //-   |  Send this message to my family
