block content
  .container.channel

    .panel.panel-default
      .panel-heading
        span.pull-left
          img.avatar(src="/img/avatar.jpg")
        b Jay 
        small.pull-right 15 minutes ago
      .panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

    .panel.panel-default
      .panel-heading 
        span.pull-left
          img.avatar(src="/img/avatar.jpg")
        b Jay 
        small.pull-right 15 minutes ago
      .panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        .media.thumbnail
          img(src="http://farm8.staticflickr.com/7339/10223008543_b2f5451b18_n.jpg")

    .panel.panel-default
      .panel-heading 
        span.pull-left
          img.avatar(src="/img/avatar.jpg")
        b Jay 
        small.pull-right 15 minutes ago
      .panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        .media.thumbnail
          iframe(src='//www.youtube.com/embed/mRitfbhITLM', frameborder='0', allowfullscreen='allowfullscreen')

    .panel.panel-default
      .panel-heading 
        span.pull-left
          img.avatar(src="/img/avatar.jpg")
        b Jay 
        small.pull-right 15 minutes ago
      .panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

    form.message.navbar.navbar-fixed-bottom.navbar-inverse

      textarea.form-control(name="message", placeholder="I have something to say to my family...")
          
      button.btn.btn-primary.btn-block
        span.glyphicon.glyphicon-send
        p  Send my message to my family