block content
  .container.homes
      
      .map
        img(src="http://maps.googleapis.com/maps/api/staticmap?center=Paris&zoom=13&size=800x600&maptype=roadmap&sensor=false")

      table.table.table-striped
        tr 
          td.col-md-1
            img.avatar(src="/img/families/family-1.jpg")
          td 
            b Johnson family
            br
            small Paris — 2 members
          td.col-md-1
            button.btn.btn-primary.pull-right
              |  Connect
              span.glyphicon.glyphicon-chevron-right
        tr 
          td
            img.avatar(src="/img/families/family-2.jpg")
          td 
            b ChangLi family
            br
            small Cannes — 8 members
          td
            button.btn.btn-primary.pull-right
              |  Connect
              span.glyphicon.glyphicon-chevron-right

        tr 
          td
            img.avatar(src="/img/families/family-3.jpg")
          td 
            b Johnson family
            br
            small London —  5 members
          td
            button.btn.btn-primary.pull-right
              |  Connect
              span.glyphicon.glyphicon-chevron-right

        tr 
          td
            img.avatar(src="/img/families/family-4.jpg")
          td 
            b Smith family
            br
            small London — 6 members
          td
            button.btn.btn-primary.pull-right
              |  Connect
              span.glyphicon.glyphicon-chevron-right