block content
  .container
    .block.intro
      h1 Team Home
      p.lead
        | Team Home project.
        br
        | AngelHack Paris 2013

      button.btn.btn-primary.btn-lg(type="button")
        span.glyphicon.glyphicon-plus-sign
        |  Add a new home

    h3 What is it?
    p.lead
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
