block content
  .container
    .block.intro
      h1 Team Home
      p.lead
        | Team Home project.
        br
        | AngelHack Paris 2013

      a.btn.btn-primary.btn-lg(href="#/homes/add")
        span.glyphicon.glyphicon-plus-sign
        |  Add a new home

    h3 What is it ?
    p.lead
      | My Home Social Network.
      br
      | Exchange Media, Messages and Communicate between all the devices in your House.
      | And with other 
      b "Homes" 
      | (family, friends, etc...)
