block content
  .container
    .block.intro
      h1 Team Home
      p.lead
        | Team Home project.
        br
        | AngelHack Paris 2013

      a.btn.btn-primary.btn-lg(ng-click="setup()")
        span.glyphicon.glyphicon-plus-sign
        |  {{setup_txt}}

    h3 My Home Social Network.
    p.lead
      | Exchange Media, Messages and Communicate between all the devices in your House.
      | And with other 
      b "Homes" 
      | (family, friends, etc...)
