html(ng-app=service_name)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title Welcome to #{service_name}
    script(src="/js/p2pdatastore.js")
    script(src="/zappa/Zappa-simple.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/p2pshared.js")
    script(src="/js/vendors/all.js")
    script(src="/js/client-all.js")
    script(src="/js/ezdz/jquery.ezdz.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js") 
    link(rel="stylesheet" href="/js/ezdz/jquery.ezdz.css")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/styles.css")
    script.
        var myHome = !{my_home};
  body(ng-controller="MainCtrl")

  #header.navbar.navbar-inverse.navbar-fixed-top
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#/') Team Home
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='#/homes/', data-target=".navbar-collapse", data-toggle="collapse")
            span.glyphicon.glyphicon-tower
            |  My Homes
        li
          a(href='#/homes/add', data-target=".navbar-collapse", data-toggle="collapse") 
            span.glyphicon.glyphicon-plus-sign
            |  Add a Home 
        li.divider
        li
          a(href='#/users/', data-target=".navbar-collapse", data-toggle="collapse")
            span.glyphicon.glyphicon-user
            |  My family
        li
          a(href='#/users/add', data-target=".navbar-collapse", data-toggle="collapse") 
            span.glyphicon.glyphicon-plus-sign
            |  Add a family member 
        li.divider
        li
          a(href='#/channel', data-target=".navbar-collapse", data-toggle="collapse")
            span.glyphicon.glyphicon-send
            |  Family channel
        li
          a(ng-click='logout()')
            span.glyphicon.glyphicon-off
            |  Family channel

  block content

  script.
    $('#header').on("click", "a", null, function () {
         $('#header').removeClass('open')
    });
