html(ng-app=service_name)
  head
    meta(charset="utf-8")
    title Welcome to {{service_name}}    
    script(src="/zappa/Zappa-simple.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/p2pdatastore.js")
    script(src="/js/p2pshared.js")
    script(src="/js/vendors/all.js")
    script(src="/js/client-all.js")
    // script.
    //  var app = angular.module("Hackathon", ["ngRoute"]);
    // script(src="/js/controllers/testapp.js")
    // script(src="/js/factories/socket.js")
  body
    block content
