block content
  .container.family

    .panel.panel-default(ng-repeat="family in families")
      .panel-heading 
        .pull-left
          img.avatar(src="{{family.avatar}}")
        b {{family.name}}
        small.pull-right {{family.users.length}} members
      .panel-body

        .row
          .col-xs-6.col-md-3.online(ng-repeat="user in family.users")
            .member.thumbnail
              img(ng-src="{{user.avatar}}"))
              .label(ng-class="get_online_class(user.state.online)") {{get_online_text(user.state.online)}}
            .caption
              h5 {{user.username}}
              small {{user.family_member_type}}
