block content
  .container
    .block
      form(enctype="multipart/form-data")
        .form-group
          input(type="file", name="picture", accept="image/*")
        .form-group
          label My name is
          input.form-control.input-lg(ng-model="me.username",type='text', placeholder="Me!")
        .form-group
          label I'm the
          select.form-control
            option(value='Dad') Dad
            option(value='Mom') Mom
            option(value='Son') Son
            option(value='Daughter') Daughter
            option(value='Grand-Dad') Grand-Dad
            option(value='Grand-Mom') Grand-Mom
            option(value='Dog') Dog
            option(value='Other') Other

        button.btn.btn-primary.btn.lg(type='submit',ng-click="submit()") Add me

