block content
  .container.family

    .panel.panel-default
      .panel-heading 
        .pull-left
          img.avatar(src="/img/avatar.jpg")
        b Smith family
        small.pull-right 7 members
      .panel-body

        .row
          .col-xs-6.col-md-3.online
            .member.thumbnail
              img(src="/img/avatar.jpg"))
              .label.label-success online
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3.online
            .member.thumbnail
              img(src="/img/avatar.jpg"))
              .label.label-success online
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3.online
            .member.thumbnail
              img(src="/img/avatar.jpg"))
              .label.label-success online
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3.offline
            .member.thumbnail
              img(src="/img/avatar.jpg"))
              .label.label-default offline
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3.offline
            .member.thumbnail
              img(src="/img/avatar.jpg"))
              .label.label-default offline
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3.offline
            .member.thumbnail
              img(src="/img/avatar.jpg"))
              .label.label-default offline
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3.offline
            .member.thumbnail
              img(src="/img/avatar.jpg"))
              .label.label-default offline
            .caption
              h5 User name
              small Dad