block content
  .container.family

    .panel.panel-default
      .panel-heading 
        .pull-left
          img.avatar(src="{{myHome.avatar}}")
        b {{family.name}}
        small.pull-right {{users.length}} members
      .panel-body

        .row
          .col-xs-6.col-md-3.online(ng-repeat="user in users")
            .member.thumbnail
              img(ng-src="{{user.avatar}}"))
              .label(ng-class="get_online_class(user.state.online)") {{get_online_text(user.state.online)}}
            .caption
              h5 {{user.username}}
              small {{user.family_member_type}}
