block content
  .container.family

    .panel.panel-default(ng-repeat="family in families")
      .panel-heading 
        .pull-left
          img.avatar(src="{{family.avatar}}")
        b {{family.name}}
        small.pull-right {{family.users.length}} members
      .panel-body

        .row
          .col-xs-6.col-md-3.online(ng-repeat="user in family.users")
            .member.thumbnail
              img(ng-src="{{user.avatar}}"))
              .label(ng-class="get_online_class(user.state.online)") {{get_online_text(user.state.online)}}
            .caption
              h5 {{user.username}}
              small {{user.family_member_type}}

          .col-xs-6.col-md-3.online
            .member.thumbnail
              img(src="/img/families/family-1-2.png"))
              .label.label-success Online
            .caption
              h5 Rita
              small Grand-Mum
              
          .col-xs-6.col-md-3.online
            .member.thumbnail
              img(src="/img/families/family-1-1.png"))
              .label.label-success Online
            .caption
              h5 Paul
              small Grand-Dad

    .panel.panel-default
      .panel-heading 
        .pull-left
          img.avatar(src="/img/families/family-2.jpg")
        b Johnson family
        small.pull-right 4 members
      .panel-body

        .row
          .col-xs-6.col-md-3.online
            .member.thumbnail
              img(src="/img/families/family-2-1.jpg"))
              .label.label-success Online
            .caption
              h5 Steve
              small Dad

          .col-xs-6.col-md-3.offline
            .member.thumbnail
              img(src="/img/families/family-2-2.jpg"))
              .label.label-default Offline
            .caption
              h5 Jeny
              small Mum

          .col-xs-6.col-md-3.offline
            .member.thumbnail
              img(src="/img/families/family-2-3.jpg"))
              .label.label-default Offline
            .caption
              h5 Nela
              small Daugher

          .col-xs-6.col-md-3.offline
            .member.thumbnail
              img(src="/img/families/family-2-4.jpg"))
              .label.label-default Offline
            .caption
              h5 Kevin
              small Son
