block content
  .container.visios

    .panel.panel-default(ng-repeat="home in homes")
      .panel-heading 
        span.pull-left
          img.avatar(src="/img/avatar.jpg")
        b Smith family
        small.pull-right 5 members online
      .panel-body
        .row
          .col-xs-6.col-md-3(ng-repeat="user in home.users | in_visio")
            .visio.thumbnail
              camera(stream="user.stream",show="cam.activated",autoplay="true",audio="user.audio")
            .caption
              h5 {{user.username}}
              small {{get_user(user, 'family_member_type')}}
